In [9]:
import pandas as pd

Collecting pandas
  Downloading pandas-2.0.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 738.6 kB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/manix/anaconda3/envs/datatalks/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 602.2 kB/s eta 0:00:00 kB/s eta 0:00:01:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 861.8 kB/s eta 0:00:00m eta 0:00:010:01:01
Collecting numpy>=1.21.0
  Downloading numpy-1.24.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.3/17.3 MB 394.2 kB/s eta 0:00:00m eta 0:00:01[36m0:00:02
Requirement already satisfied: six>=1.5 in /home/manix/anaconda3/envs/datatalks/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3
Collecting pyarrow
  Downloading pyarrow-12.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (38.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.9/38.9 MB 3.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01m
Requirement already satisfied: numpy>=1.16.6 in /home/manix/anaconda3/envs/datatalks/lib/python3.11/site-packages (from pyarrow) (1.24.3)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.0

In [10]:
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [25]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [11]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [15]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [18]:
engine.connect()

In [17]:
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [19]:
%time df.head(0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

CPU times: user 15.5 ms, sys: 5.35 ms, total: 20.9 ms
Wall time: 83.7 ms

0

In [23]:
from time import time
import pyarrow.parquet as pq
parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')
for i in parquet_file.iter_batches():
    t_start = time()
    
    pd_i = i.to_pandas()
    pd_i.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')
    t_end = time()
    print("Batch sent in : ",t_end - t_start)

RecordBatch :  4.418497562408447
RecordBatch :  6.816167593002319
RecordBatch :  4.234755754470825
RecordBatch :  4.347925186157227
RecordBatch :  4.300472736358643
RecordBatch :  4.204324245452881
RecordBatch :  4.142070055007935
RecordBatch :  4.3046910762786865
RecordBatch :  4.225921869277954
RecordBatch :  4.507002592086792
RecordBatch :  4.290723085403442
RecordBatch :  4.155416011810303
RecordBatch :  4.341559648513794
RecordBatch :  4.241059064865112
RecordBatch :  4.437829494476318
RecordBatch :  4.445610761642456
RecordBatch :  4.336854696273804
RecordBatch :  4.372081518173218
RecordBatch :  4.435067892074585
RecordBatch :  4.425605058670044
RecordBatch :  4.524698972702026
RecordBatch :  4.443897485733032
RecordBatch :  4.386044502258301
RecordBatch :  4.404168605804443
RecordBatch :  4.609295606613159
RecordBatch :  4.345834493637085
RecordBatch :  4.381601095199585
RecordBatch :  4.4423668384552
RecordBatch :  4.606753349304199
RecordBatch :  4.360454320907593
RecordBatch :  4.37123966217041
RecordBatch :  4.4616923332214355
RecordBatch :  4.4081034660339355
RecordBatch :  4.357753276824951
RecordBatch :  4.354541778564453
RecordBatch :  4.485953330993652
RecordBatch :  4.368694067001343
RecordBatch :  4.440370321273804
RecordBatch :  4.43690037727356
RecordBatch :  4.428647518157959
RecordBatch :  4.3855140209198
RecordBatch :  4.430059194564819
RecordBatch :  4.37638783454895
RecordBatch :  4.313755035400391
RecordBatch :  4.382628917694092
RecordBatch :  4.358255386352539
RecordBatch :  3.035663366317749